.spinning_button {
  position: relative;
  color: transparent !important;
}

.spinning_button:after {
  content: "";
  display: block;
  width: 1.1em;
  height: 1.1em;
  position: absolute;
  left: calc(50% - 0.75em);
  top: calc(50% - 0.72em);
  border: 0.17em solid #e9e9e92b;
  border-right-color: #ffffff;
  border-radius: 50%;
  animation: button-load-anim 0.5s linear infinite;
  opacity: 1;
}

.spinning_button svg {
  opacity: 0 !important;
}

@keyframes button-load-anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
