@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@custom-variant dark (&:where(.dark, .dark *));

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@keyframes button-load-anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  a.is-link-primary {
    @apply font-medium no-underline;
    background: linear-gradient(90deg, #62dab4, #10bed4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a.is-link-primary:hover {
    opacity: 0.8; /* optional hover effect */
  }

  .spin-animation {
    border: 3.7px #d5d5d5 solid;
    border-top: 3.7px #777777 solid;
    border-radius: 50%;
    -webkit-animation: spinAnimation 0.3s infinite linear;
    animation: spinAnimation 0.3s infinite linear;
    width: 17px;
    height: 17px;
  }

  @-webkit-keyframes spinAnimation {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
    }
  }
  @keyframes spinAnimation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}

@layer utilities {
}

@layer components {
  .is-background-primary {
    background: linear-gradient(90deg, #62dab4, #10bed4);
    @apply text-white;
  }

  .is-background-primary:hover {
    background: linear-gradient(90deg, #43b28f, #0298ac);
  }

  .is-background-secondary {
    background: linear-gradient(90deg, #dedede, #d3d3d3);
    @apply text-black;
  }

  .is-background-secondary:hover {
    background: linear-gradient(90deg, #e4e4e4, #c9c9c9);
  }

  .is-background-danger {
    @apply bg-red-500 text-white hover:bg-red-600;
  }

  .is-input {
    @apply w-full py-2 text-gray-500 outline-none border shadow-sm rounded-lg;
  }

  .is-input:focus {
    border-color: #10bed4;
  }

  .is-button {
    @apply cursor-pointer inline-block px-4 py-2 duration-150 font-medium rounded-lg md:text-sm;
  }

  .is-select {
    height: 41px;
    @apply px-2 py-2 pr-4 outline-none border border-gray-500 shadow-sm rounded-lg;
  }

  .is-select:focus {
    border-color: #10bed4;
  }

  .hover\:is-text-primary:hover {
    background: linear-gradient(90deg, #62dab4, #10bed4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
